<h1>
  Hellooooooooooo!
</h1>
<h3>
  <!-- <%= flash[:notice] %> -->
  <%= notice %>
</h3>

<!-- <a href="/candidates/new">add candidates</a> -->

<%= link_to "add candidates", new_candidate_path, class: "btn btn-success" %>

<!-- 
<ul>
 <% @candidates.each do |candidate| %>
  <li><%= candidate.name %></li>
  <li><%= link_to candidate.name, candidate %>
  <%= link_to "edit", edit_candidate_path(candidate)%>
  <%= link_to "delete", candidate, method: "delete", data: { confirm: "delete?" } %> </li> 
  <li><%= link_to candidate.name, candidate_path(candidate.id) %></li> 
<% end %>
</ul>
-->
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <td></td>
      <td>Name</td>
      <td>Votes</td>
      <td>Age</td>
      <td>Party</td>
      <td>Politics</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
    <tr>
      <!-- <td><%= link_to display_name(candidate), candidate %></td> -->
      <td><%= link_to "Vote!", vote_candidate_path(candidate), class: "btn btn-danger btn-xs", data: { confirm: "Vote this one?" },  method: "POST" %></td>
      <td><%= link_to candidate.display_name, candidate %></td>
      <td><%= candidate.logs.size %></td>
      <td><%= candidate.age %></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.politics %></td>
      <td>
        <%= link_to "edit", edit_candidate_path(candidate), class: "btn btn-success btn-xs"%>
        <%= link_to "delete", candidate, method: "delete", data: { confirm: "delete?" }, class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
